@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Bungee Spice", sans-serif;
}
